@{
    Layout = "_Layout";
    ViewData["Title"] = "Checkout";
}

@using app.Models
@model CheckoutSummaryViewModel

<div class="text-center mt-2">
    <h1 class="p-2">Subtotal: @Model.Subtotal</h1>
    <h1 class="p-2">Tax: @Model.Tax</h1>
    <h1 class="p-2">Shipping: @Model.Shipping</h1>
    <h1 class="p-2">Total: @Model.Total</h1>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Name" class="form-control" placeholder="Shipping Name"/>
        <label asp-for="Input.Name" class="form-label"></label>
	<span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Address" class="form-control" placeholder="Shipping Address"/>
        <label asp-for="Input.Address" class="form-label"></label>
	<span asp-validation-for="Input.Address" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Go To Payment</button>
</form>

