@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Home";
}

@using app.Models;
@model IEnumerable<ProductViewModel>

<h1 class="text-center mt-3">Admin Panel</h1>

<div class="d-flex container-fluid">
    <a class="btn btn-lg btn-primary w-100 m-5" asp-controller="Products" asp-action="Create">Create New Product</a>
    <a class="btn btn-lg btn-primary w-100 m-5" asp-action="Users">Manage Users</a>
</div>

@if(Model.Any()) 
{
<div class="container-fluid">
    <div class="row py-1">
	<div class="col-4"><b>Product Name</b></div>
	<div class="col-4"><b>Product Price</b></div>
	<div class="col-2"><b>Update</b></div>
	<div class="col-2"><b>Delete</b></div>
    </div>
    @foreach(var product in Model) 
    {
    <div class="row py-1">
	<div class="col-4">@product.ProductName</div>
	<div class="col-4">@product.Price</div>
	<div class="col-2">
	    <a asp-controller="Products" asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-primary">Update</a>
	</div>
	<div class="col-2">
	    <a data-product-id="@product.ProductId" class="btn btn-danger delete-btn">Delete</a>
	</div>
    </div>
    }
</div>

} else {
<h5>No products found. Check back later!</h5>
}

<script src="~/js/adminIndex.js">
</script>
