@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div id="root" class="container mt-3">
    <div class="d-flex justify-content-center m-5">
	<img class="img-fluid" src="Images/header-img.png" alt="">
    </div>

    <h5 class="text-center mb-4">Browse by Category</h5>

    <div class="row text-center">
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="/products?categoryNameFilter=@ViewData["cuttingBoard"]" class="text-decoration-none text-dark">
                <img src="Images/homeImg1.jpg" class="img-fluid rounded" alt="Cutting Boards">
                <p class="mt-2">Cutting Boards</p>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="/products?categoryNameFilter=@ViewData["charcuterie"]" class="text-decoration-none text-dark">
                <img src="Images/homeImg2.jpg" class="img-fluid rounded" alt="Charcuterie Boards">
                <p class="mt-2">Charcuterie Boards</p>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="/products?categoryNameFilter=@ViewData["choppingBlock"]" class="text-decoration-none text-dark">
                <img src="Images/homeImg3.jpg" class="img-fluid rounded" alt="Chopping Blocks">
                <p class="mt-2">Chopping Blocks</p>
            </a>
        </div>
    </div>

    <h5 class="mt-5">About us</h5>
    <p>We are a small business based in Hamilton, ON. Here you can get top of the line cutting boards.</p>
</div>
