html, body {
    height: 100%;
    margin: 0;
    background-color: #272018;
}

main {
    background-color: #37181f;
}

.nav-background-gradient {
    background: linear-gradient(to bottom, #292018 0%,#464141 25%,#464141 25%,#292018 61%);
}

.background-black-4c {
    background-color: #272018;
}

.card {
    --bs-card-bg: #454040;
}

.background-720c {
    background-color: #e0b087;
}

.navbar-brand {
    --bs-navbar-brand-color: white;
    --bs-navbar-activate-color: white;
    --bs-navbar-brand-hover-color: white;
}

.nav-link {
    --bs-nav-link-color: #e0b087;
    --bs-nav-link-hover-color: #e0b087;
}

#navbar-toggler {
    background-color: white;
}

h5, p {
    color: #e0b087;
}

.font-white {
    color: white;
}

.font-720c {
    color: #e0b087;
}

.font-7565c {
    color: #c87a33;
}

.font-7526c {
    color: #833a21;
}

.font-4975c {
    color: #37181f;
}

.font-black-4c {
    color: #272018;
}

.font-4273c {
    color: #454040;
}


/*
 * #e0b087
 * #c87a33
 * #833a21
 * #37181f
 * #272018
 * #454040
 */

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; 
}

.row {
    padding-right: 0px;
    padding-left: 0px;
}

.footer {
    background-color: lightgrey;
    padding: 1rem;
    text-align: center;
}

.cart-item {
    height: 150px;
    overflow: hidden;
}

.cart-image {
    height: 150px;
}

#product-card {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cart-delete {
    height: 75px;
}

#checkout-button {
    border-radius: 0px;
}
