@{
    Layout = "_Layout";
    var categories = ViewData["Categories"];
    ViewData["Title"] = "Create Product";
}

@using Microsoft.AspNetCore.Mvc.Rendering;
@model app.Models.CreateProductModel

<h1>Create Product</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
	<label asp-for="Name" class="form-label"></label>
	<input asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="CategoryId" class="form-label"></label>
	<select asp-for="CategoryId" asp-items="(SelectList)categories" class="form-control">
	    <option value="">-- Select Category --</option> 
	</select>
	<span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="Price" class="form-label"></label>
	<input asp-for="Price" class="form-control" />
	<span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="Description" class="form-label"></label>
	<input asp-for="Description" class="form-control" />
	<span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
	<label asp-for="Files" class=form-label></label>
	<input asp-for="Files" type="file" multiple /> 
	<span asp-validation-for="Files" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
