@{
    Layout = "_Layout";
}

@model app.Models.ProductViewModel 

    <h1>Name: @Model.ProductName</h1>
    <h3>Category: @Model.CategoryName</h3>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
